/* START - UNIVERSAL / DEFAULT */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapercave.com/wp/wp5493583.jpg');
  font-family: arial;
  font-weight: bold;
}

/* END - UNIVERSAL / DEFAULT 

/'\.../'\
<->  . <->
=  \/\/  =

START - FLEX / CONTAINERS */

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

#calculator{
  min-width: 20rem;
}

#display{
  color: white;
  background: #222;
  outline: 1px solid #333;
  padding: 0.5rem;
}

#top-bar, #second-bar, #third-bar{
  display: flex;
  justify-content: space-between;
  cursor: default;
}

#top-bar div, #second-bar div{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#equation-display{
  padding: 2rem 0.2rem;
  font-size: 3rem;
  text-align: right;
}

#third-bar{
  align-items: end;
  font-weight: normal;
}

#controls{
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

.column{
  all: unset;
  list-style-type: none;
  width: 25%;
  
}

.square{
  width: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* END - FLEX / CONTAINERS 

/'\.../'\
---  . ---
=   /\   =

START - COLORING / STYLING */
#top-bar, .gray-font{
  font-weight: normal;
  color: gray;
}

.column li{
  padding: 1.5rem 0.2rem;
  outline: 1px solid #333;
}

.column li:hover, .gray-hover:hover{
  background: #444;
  cursor:default;
  outline: 1px solid #222;
  color: white;
}

.large-font{
  font-size: large;
}

.gray-hover, .gray-font{
  padding: 0.2rem 0.4rem;
}

.red-hover:hover{
  background: red;
  color: white;
}

.light-gray-bg{
  background: #111;
  font-weight: normal;
}

.bluish-bg{
  background: rgb(31, 92, 121);
}

.bluish-bg:hover{
  background: rgb(75, 203, 226) !important;
}

.italic, .group-character{
  font-style: italic;
}

/* END - COLORING / STYLING */